<!--Caixa do cardapio-->
<div class="container overflow-hidden">
  <div class="row gx-5">
    <div class="col">
     <div class="p-3 caixaCardapio" >

    <!--Aqui ficara o cardapio
    -> Item   Custo
    -> Tamanhos disponiveis-->

    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">Tam. Disponível</th>
          <th scope="col"></th>
          <th scope="col"></th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody style="margin-right: 80%;">
        <tr>
          <th scope="row">150g</th>
          <td>R$ 10.00</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">200g</th>
          <td>R$ 10.00</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">300g</th>
          <td>R$ 10.00</td>
          <td></td>
          <td></td>
        </tr>
    </table>

    </div>
    <div class="row" style="color: red; margin-left: 1%;"> *
      <div style="color: black;"> O preço pode variar de acordo com o tipo do pedido.</div>
    </div>
    </div>

    <!--Caixa do fazer pedido-->
    <div class="col">
      <div class="p3 caixaPedido">
        Faça já o seu pedido clicando no botão abaixo.
        <br/>

          <button type="button" class="button botao" [routerLink]= "['/fazer-pedido']">Fazer Pedido</button>

      </div>
    </div>
  </div>
</div>

<!--Analisar se deve ser colocado as redes sociais no site-->
