.caixaPedido{
  position: relative;
  padding: 10% 10% 10% 10%;
  font: bold,medium;
  font-family: 'Cardo', serif;
  font-size: 20px;
  color: black;
  text-align: center;
}

.table-dark{
  background-color: #0a0404;
};

.button{
  margin-top: 10%;
  background-color: #47525E;
  border-radius: 10px;
  width: 80%;
}
.caixaCardapio{
  padding: 10% 10% 10% 10%;
  font: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.tabela
{
  background-color: white;
}
