<!--Caixa do cardapio-->
<div class="container overflow-hidden">
  <div class="row">
    <div class="col">
     <div class="p-2 caixaCardapio" >

    <!--Aqui ficara o cardapio
    -> Item   Custo
    -> Tamanhos disponiveis-->

    <table mat-table class="mat-elevation-z3 demo-table
    table tabela">
      <thead class="table-dark">
        <tr>
          <th scope="col">Tam. Disponível</th>
          <th scope="col">Peso</th>
          <th scope="col">Preço</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let c of cardapio'>
          <td> {{ c.tipoOvo }}</td>
          <td> {{ c.peso }}g</td>
          <td>R$ {{ c.valor | number:'1.2-2' }}</td>
        </tr>
    </table>

    </div>
    <div class="row" style="color: red; margin-left: 1%;"> *
      <div style="color: black;"> O preço pode variar de acordo com o tipo do pedido.</div>
    </div>
    </div>

    <!--Caixa do fazer pedido-->
    <div _ngcontent-dat-c5 class="p-2">
      <mat-card>
        <mat-card-content>
        <div class="caixaPedido">
          Faça já o seu pedido clicando no botão abaixo.
          <br/>

          <br/>
            <button type="button" class=" btn btn-dark botao" [routerLink]= "['/fazer-pedido']">Fazer Pedido</button>

        </div>
        </mat-card-content>
      </mat-card>
    </div>
    </div>

</div>

<!--Analisar se deve ser colocado as redes sociais no site-->
