<!--Caixa do cardapio-->
<div class="container overflow-hidden">
  <div class="row gx-5">
    <div class="col">
     <div class="p-3 caixaCardapio" >

    <!--Aqui ficara o cardapio
    -> Item   Custo
    -> Tamanhos disponiveis-->

    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">Cardápio</th>
          <th scope="col"></th>
          <th scope="col"></th>

          <th scope="col">Tam. Disponível</th>
        </tr>
      </thead>
      <tbody style="margin-right: 80%;">
        <tr>
          <th scope="row">Nutella</th>
          <td>R$ 10.00</td>
          <td></td>
          <td>150g</td>
        </tr>
        <tr>
          <th scope="row">Chocolate Branco</th>
          <td>R$ 10.00</td>
          <td></td>
          <td>200g</td>
        </tr>
        <tr>
          <th scope="row">Chocolate meio amargo</th>
          <td>R$ 10.00</td>
          <td></td>
          <td>300g</td>
        </tr>
    </table>

    </div>
    </div>

    <!--Caixa do fazer pedido-->
    <div class="col">
      <div class="p3 caixaPedido">
        Faça já o seu pedido clicando no botão abaixo.
        <br/>
      <button type="button" class="button botao">Pedir</button>
      </div>
    </div>
  </div>
</div>
