@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&display=swap');

.titulo{
  font: bold;
  color: white;
  font-size: x-large;
  margin-right: 77%;
}

.navbar{
  background-color: #0a0404;
}


.caixaCardapio{
  background-color: #ffffff;
  opacity: 0.81;
}

.caixaPedido{
  padding: 10% 10% 10% 10%;
  background-color: white;
  margin-right: 20%;
  font: bold,medium;
  font-family: 'Cardo', serif;
  font-size: 20px;
  color: black;
  text-align: center;
}

.botao{
  font-family: 'Lato';
  color: white;
}

.button{
  margin-top: 10%;
  background-color: #47525E;
  border-radius: 29px;
  width: 50%;
  height: 60%;
}

.footer {
  background-color: #0a0404;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 11pt;
}
