.caixaTituloForm{
  margin-top: 20px;
  margin-left: 10%;
  height: 20pt;
  text-align: center;
  position: relative;
}

.caixaForm{
  background-color: #f5f6f7;
  opacity: 0.81;
  margin-top: 3px;
  margin-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.espaco{
  padding-top: 10px;
}
.texto{
  font: medium;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #38322F;
  font-size: 25px;
}

.botao{
  font-family: 'Lato';
  color: white;
}

.button{
  margin-top: 2%;
  background-color: #38322F;
  padding: 1% 2%;
}

