/* You can add global styles to this file, and also import other style files */
.corpo{
  background-size: 1508px 1024px;
  background-position-x: -20px;
  background-repeat: no-repeat;
  background-color: #eeeeee;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
